/* Import the necessary components here */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

body {
  background: limegreen;
  height: 100%; }

#map-canvas {
  width: 100%;
  height: 100%; }
